/* Main Content */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-bottom: 200px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numbers-wrapper {
    width: 100%;
    margin-left: 20%;

    hr {
        width: 8%;
        margin: 0;
        border: 1px solid #000;
    }
}

.numbers {
    position: sticky;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 0;
    background: transparent;
    z-index: 5;
}

.numbers span {
    font-size: 20px;
    font-weight: normal;
    cursor: pointer;
    transition: all 0.3s ease;
}

.numbers span.active {
    font-weight: bold;
    font-size: 24px;
    color: black;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.section-content {
    width: 50%;
}

.section-image-scroll {
    width: 50%;
    max-width: 50vw;

    img {
        border-radius: 20%;
        margin-top: 40px;
    }
}

.section-image {
    display: flex;
    flex-direction: row;
    overflow: auto;
    height: 500px;
}

.section-image::-webkit-scrollbar {
    display: none;
}

@media (max-width: 768px) {
    /* Main Content */
    .container {
        flex-direction: column;
    }

    .section-content,
    .section-image {
        width: 100%;
    }

    .section-image-scroll img {
        max-width: 100%;
    }

    .numbers-wrapper {
        margin-left: 10%;
    }

    .numbers-wrapper hr {
        width: 25%;
    }

}